/* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 100%}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 5px;
      background-color: #ADD8E6;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      position: relative;
      margin-top: -150px; /* negative value of footer height */
      height: 110px;
      clear:both;
      padding-top:20px;
      padding-left: 20px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }

    #viz {
      height: 320px;
      width: 320px;
    }

    #strong-label {
      display: inline;
    }

    #strong-selection {
      display: none;
    }

    #back-btn {
      margin-bottom: 10px;
    }

    #warning-message {
      color: red;
      font-size: 10;
    }

    [data-role="fieldcontain"] {
      display: table;
    }

    .input-row {
      display: table-row;
    }

    input {
      display: table-cell;
    }

    label {
      display: table-cell;
      cursor: pointer;
      padding-left: 5px;
      margin-right: 5px;
      font-size: 11px;
      text-align: left;
    }

    .slider {
      width: 50px;
    }

    #react-state {
      display: none;
    }

    /* Rounded sliders */
    .check.round {
      border-radius: 24px;
    }

    .check.round:before {
      border-radius: 50%;
    }

    .modal {
        display:block;
    }

    .app {
      background-color:#ADD8E6;
      height: 100%;
      margin: 0px;
    }

    .col-sm-10 {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      justify-content: center;
     
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
    .panel-default {
      background-color: #ffffff;
    }

    .view {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding: 10px;
    }

  html, body {
    background-color: #ADD8E6;
    height: 100%;
  }

  #equation{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    }

  #buffer-display{
      display:flex;
      flex-direction:column;
  }


  #reaction-display{
      display:flex;
      flex-direction:column;
  }

  body {
  padding-top: 50px;
  }


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

