/* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 100%}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 5px;
      background-color: #f1f1f1;
      height: 75%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #ADD8E6;
      color: #ADD8E6;
      position: relative;
      margin-top: -150px; /* negative value of footer height */
      height: 110px;
      clear:both;
      padding-top:20px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }

    #viz {
      height: 500px;
      width: 400px;
    }

    #strong-selection {
      display: none;
    }

    #warning-message {
      color: red;
      font-size: 10;
    }

    [data-role="fieldcontain"] {
      display: table;
    }

    .input-row {
      display: table-row;
    }

    input {
      display: table-cell;
    }

    label {
      display: table-cell;
      cursor: pointer;
      padding-left: 5px;
      margin-right: 5px;
      font-size: 11px;
      text-align: left;
    }

    .slider {
      width: 50px;
    }

    #react-state {
      display: none;
    }

    /* Rounded sliders */
    .check.round {
      border-radius: 24px;
    }

    .check.round:before {
      border-radius: 50%;
    }

    .modal {
        display:block;
    }

    .app {
      background-color:#ADD8E6;
      height: 100%;
      margin: 0px;
    }

    .col-sm-10 {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      justify-content: center;
     
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }

    .view {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding: 15px;
    }

  html, body {
    background-color:#ADD8E6;
    height: 100%;
  }

